---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"Lifestance2021","@officecode":996075,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFE2U52F","@lst":"6/1/2023
        8:40:27 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 996075
        must be redirected to https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"C:\\azp\\agent\\_work\\6\\s\\Components\\AdvancedMD.Security\\AdvancedMD.Security\\Login.cs","method":"LoginUser","linenum":"702","source":"AdvancedMD.Security.Login.AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Thu, 01 Jun 2023 15:40:27 GMT
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"Lifestance2021","@officecode":996075,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; chars[...]
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"Lee,Brady","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEZPUL7","@lst":"6/1/2023
        8:40:28 AM","Results":{"patientlist":{"@itemcount":"0","@page":"1","@pagecount":"0","@itemsfrom":"0","@itemsto":"0"}},"Error":null}}'
  recorded_at: Thu, 01 Jun 2023 15:40:28 GMT
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addpatient","@class":"api","@msgtime":"6/1/2023
        03:40:29 PM","@nocookie":0,"patientlist":{"patient":{"@id":null,"@respparty":"self","@name":"Lee,
        Brady","@sex":"male","@relationship":3,"@hipaarelationship":null,"@dob":"04/01/1996","@chart":"AUTO","@profile":1,"address":{"@zip":null,"@city":null,"@state":null,"@address1":null,"@address2":null},"contactinfo":{"@otherphone":"1234567890","@othertype":"C","@email":""},"resppartylist":{"respparty":{"@respparty_name":"resp","@accttype":"4"}}}},"resppartylist":{"respparty":{"@name":"resp","@accttype":"4"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEVTWZG","@lst":"11/8/2021
        2:46:47 AM","Results":{"@success":"1","patientlist":{"patient":{"@id":"pat5985941","@importid":"","@dob":"04/01/1996","@deceased":"","@inactive":"","@inactivestatus":"","@inactivetitle":"","@inactivedescription":"","@name":"LEE,BRAAD","@previouslastname":"","@previousfirstname":"","@previousmiddlename":"","@respparty":"resp6851545","@isinvoiceentity":"0","@profile":"prof1","@insorder":"","@sex":"M","@genderidentity":"","@genderidentityother":"","@orientation":"","@orientationother":"","@chart":"3413","@maritalstatus":"0","@employerid":"","@employer":"","@ssn":"","@finclasscode":"SP","@title":"","@relationship":"3","@hipaarelationship":"19","@languageid":"","@ethnicityid":"","@language":"","@ethnicity":"","@races":"","@recalcbuckets":"0","@additionalmrn":"","address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@areacode":"","@countrycode":""},"previousaddress":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"","@officephone":"","@officeext":"","@otherphone":"(123)
        456-7890","@othertype":"C","@email":"TEST@GMAIL.COM","@emailverificationstatus":"0","@preferredcommunicationfid":"","@confidentialcommunicationfid":"","@communicationnote":""},"arbucketlist":{"arbucket":[{"@buckettype":"p","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"pi","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"primarycareprovider":null}},"resppartylist":{"respparty":{"@id":"resp6851545","@name":"LEE,BRAAD","@accttype":"ac_type4","@acctnum":"6851545","@dob":"04/01/1996","@sex":"M","@title":"","@employer":"","@employstatus":"1","@ssn":"","@sendstmt":"1","@stmtrestart":"","@holdreasonfid":"0","@holdreasondesc":"","@holdreasoncode":"","@billcycle":"1","@fincharge":"0","@stmtformat":"","@balancefwd":"1","@lastpmtdate":"","@lastpmtamount":"","@laststmtdate":"","@laststmtamount":"","@lastbillingcaption":"","@lastbillingtip":"","@paymentplanbalance":"","@ispaperless":"0","@ispaperlessportalchangedate":"","address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@areacode":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"","@officephone":"","@officeext":"","@otherphone":"(123)
        456-7890","@othertype":"C","@email":"TEST@GMAIL.COM","@preferredcommunicationfid":"","@communicationnote":""},"creditcardonfile":null,"arbucketlist":{"arbucket":[{"@buckettype":"r","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"ri","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"familymemberlist":{"familymember":{"@id":"family5985941","@name":"LEE,BRAAD","@chart":"3413","@isrp":"0","@previousfirstname":"","@previousmiddlename":"","@previouslastname":"","@hipparelationship":"19","contactinfo":{"@homephone":""},"address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"previousaddress":{"@address1":"","@address2":"","@countrycode":"","@state":"","@city":"","@zip":""}}}}},"profilelist":{"profile":{"@id":"prof1","@name":"","@fullname":"
        ,","@code":"","@chargefeesched":"feesch1","@fullinactive":"No","@status":"","finclasslist":{"finclass":[{"@id":"fclass1","@name":"","@code":"","@billins":"0","@billlab":"1","@ca":"0","@responsible":"0","@acceptassign":"0","@allowablewocode":"","@autowo":"0","@autowocode":"","@riskwocode":"","@riskpercent":"0"},{"@id":"fclass24","@name":"BLUECROSS
        BLUESHIELD","@code":"BA","@billins":"1","@billlab":"1","@ca":"0","@responsible":"1","@accttype":"ac_type4","@acceptassign":"1","@allowfeesched":"feesch21107","@allowablewocode":"WOINS","@autowo":"0","@autowocode":"","@riskwocode":"","@riskpercent[...]
