---
  http_interactions:
  - request:
      method: post
      uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
      body:
        encoding: UTF-8
        string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
      headers:
        Content-Type:
        - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEPUIMP","@lst":"6/1/2023
          6:53:49 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
          Error","detail":{"code":"-2147220476","description":"The Office Key 995456
          must be redirected to https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
          When logging in to AdvancedMD, if no security token (<usercontext> text) is
          returned, then you must redirect your login to the server indicated in the
          \"webserver\" attribute of the usercontext element.","class":"C:\\azp\\agent\\_work\\6\\s\\Components\\AdvancedMD.Security\\AdvancedMD.Security\\Login.cs","method":"LoginUser","linenum":"702","source":"AdvancedMD.Security.Login.AdvancedMD.Security.Login","extrainfo":null}}}}}'
    recorded_at: Thu, 01 Jun 2023 13:53:49 GMT
  - request:
      method: post
      uri: https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
      body:
        encoding: UTF-8
        string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
      headers:
        Content-Type:
        - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
[...]
  - request:
      method: post
      uri: https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
      body:
        encoding: UTF-8
        string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"Blackbeard,Captain","@page":"1"}}'
      headers:
        Content-Type:
        - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEW7XJH","@lst":"6/1/2023
          6:53:52 AM","Results":{"patientlist":{"@itemcount":"10","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"10","patient":[{"@id":"pat5983949","@name":"BLACKBEARD,CAPTAIN","@chart":"2689","@ssn":"","@hipaarelationship":"18","@email":"TESTING@EMAIL.COM","@gender":"M","@dob":"07/15/1990","address":{"@zipid":"1","@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":""}},{"@id":"pat5983967","@name":"BLACKBEARD,CAPTAIN","@chart":"2706","@ssn":"","@hipaarelationship":"18","@email":"TEST@GMAIL.COM","@gender":"M","@dob":"07/19/1990","address":{"@zipid":"1","@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":""}},{"@id":"pat5983968","@name":"BLACKBEARD,CAPTAIN","@chart":"2707","@ssn":"","@hipaarelationship":"18","@email":"TEST@GMAIL.COM","@gender":"M","@dob":"07/19/1991","addr[...]
  - request:
      method: post
      uri: https://providerapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
      body:
        encoding: UTF-8
        string: '{"ppmdmsg":{"@action":"lookuprespparty","@class":"api","@exactmatch":"1","@name":"Blackbeard,
          Captain","@page":"1"}}'
      headers:
        Content-Type:
        - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
        - application/json; charset=utf-8
      body:
        encoding: UTF-8
        string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEKMYGP","@lst":"3/22/2022
          4:03:07 AM","Results":{"resppartylist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","respparty":{"@id":"resp6850251","@name":"JAANE,CAPTAIN","@acctnum":"6850251","@ssn":"            ","@isinvoiceentity":"0","@dob":"01/01/1986","@email":"TEST@GMAIL.COM","@gender":"M","address":{"@zipid":"1","@zip":"02151","@city":"BOSTON","@state":"MA","@address1":"","@address2":"10
          STORROW DR","@countrycode":"","@areacode":"781"},"contactinfo":{"@homephone":""}}}},"Error":null}}'
    recorded_at: Thu, 01 Jun 2023 13:53:52 GMT
[...]
