---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addpatient","@class":"api","@msgtime":"8/31/2021
        05:46:20 PM","@nocookie":0,"patientlist":{"patient":{"@respparty":"SELF","@name":"penguin,pororo","@sex":"M","@relationship":"1","@hipaarelationship":"18","@dob":"12/04/1989","@ssn":"","@chart":"AUTO","@profile":"3","@finclass":"","@deceased":"","@title":"MR","@maritalstatus":"2","@insorder":"","@employer":"encoratest,
        inc.","address":{"@zip":"38834","@city":"CORINTH","@state":"MS","@address1":"apt
        b-5","@address2":"6923 n mountainside dr"},"contactinfo":{"@homephone":"(662)
        555-1343","@officephone":"(662) 555-9238","@officeext":"213","@otherphone":"(662)
        555-3823","@othertype":"C","@email":"pororo.penguin.test@example.com"},"resppartylist":{"respparty":{"@respparty_name":"","@accttype":""}}}},"resppartylist":{"respparty":{"@name":"","@accttype":""}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE5PVCG","@lst":"8/31/2021
        10:46:20 AM","Results":{"@success":"1","patientlist":{"patient":{"@id":"pat5984278","@importid":"","@dob":"12/04/1989","@deceased":"","@inactive":"","@inactivestatus":"","@inactivetitle":"","@inactivedescription":"","@name":"PENGUIN,PORORO","@previouslastname":"","@previousfirstname":"","@previousmiddlename":"","@respparty":"resp6849961","@isinvoiceentity":"0","@profile":"prof3","@insorder":"","@sex":"M","@genderidentity":"","@genderidentityother":"","@orientation":"","@orientationother":"","@chart":"2886","@maritalstatus":"2","@employerid":"","@employer":"ENCORATEST,
        INC.","@ssn":"","@finclasscode":"SP","@title":"MR","@relationship":"1","@hipaarelationship":"18","@languageid":"","@ethnicityid":"","@language":"","@ethnicity":"","@races":"","@recalcbuckets":"0","@additionalmrn":"","address":{"@zip":"38834","@city":"CORINTH","@state":"MS","@address1":"APT
        B-5","@address2":"6923 N MOUNTAINSIDE DR","@areacode":"662","@countrycode":""},"previousaddress":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"(662)
        555-1343","@officephone":"(662) 555-9238","@officeext":"213","@otherphone":"(662)
        555-3823","@othertype":"C","@email":"PORORO.PENGUIN.TEST@EXAMPLE.COM","@emailverificationstatus":"0","@preferredcommunicationfid":"","@confidentialcommunicationfid":"","@communicationnote":""},"arbucketlist":{"arbucket":[{"@buckettype":"p","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"pi","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"primarycareprovider":null}},"resppartylist":{"respparty":{"@id":"resp6849961","@name":"PENGUIN,PORORO","@accttype":"ac_type4","@acctnum":"6849961","@dob":"12/04/1989","@sex":"M","@title":"MR","@employer":"ENCORATEST,
        INC.","@employstatus":"1","@ssn":"","@sendstmt":"1","@stmtrestart":"","@holdreasonfid":"0","@holdreasondesc":"","@holdreasoncode":"","@billcycle":"1","@fincharge":"0","@stmtformat":"","@balancefwd":"1","@lastpmtdate":"","@lastpmtamount":"","@laststmtdate":"","@laststmtamount":"","@lastbillingcaption":"","@lastbillingtip":"","@paymentplanbalance":"","@ispaperless":"0","@ispaperlessportalchangedate":"","address":{"@zip":"38834","@city":"CORINTH","@state":"MS","@address1":"APT
        B-5","@address2":"6923 N MOUNTAINSIDE DR","@areacode":"662","@countrycode":""},"contactinfo":{"@name":"","@homephone":"(662)
        555-1343","@officephone":"(662) 555-9238","@officeext":"213","@otherphone":"(662)
        555-3823","@othertype":"C","@email":"PORORO.PENGUIN.TEST@EXAMPLE.COM","@preferredcommunicationfid":"","@communicationnote":""},"creditcardonfile":null,"arbucketlist":{"arbucket":[{"@buckettype":"r","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"ri","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"familymemberlist":{"familymember":{"@id":"family5984278","@name":"PENGUIN,PORORO","@chart":"2886","@isrp":"1","@previousfirstname":"","@previousmiddlename":"","@previouslastname":"","@hipparelationship":"18","contactinfo":{"@homephone":"(662)
        555-1343"},"address":{"@zip":"38834","@city":"CORINTH","@state":"MS","@address1":"APT
        B-5","@address2":"6923 N MOUNTAINSIDE DR","@countrycode":""},"previousaddress":{"@address1":"","@address2":"","@countrycode":"","@state":"","@city":"","@zip":""}}}}},"profilelist":{"profile":{"@id":"prof3","@name":"JONES,CAMERON","@fullname":"JONES,CAMERON","@code":"JONES","@chargefeesched":"feesch21092","@fullinactive":"No","@status":"ACTIVE","finclasslist":{"finclass":[{"@id":"fclass1","@name":"","@code":"","@billins":"0","@billlab":"1","@ca":"0","@responsible":"0","@acceptassign":"0","@allowablewocode":"","@autowo":"0","@autowocode":"","@riskwocode":"","@riskpercent":"0"},{"@id":"fclass2","@name":"DOUBLE
        INSURANCE COVERAGE","@code":"DC","@billins":"1","@billlab":"1","@ca":"0","@responsible":"1","@accttype":"ac_type4","@acceptassign":"1","@allowablewocode":"WOINS","@autowo":"0","@autowocode":"None","@riskwocode":"None","@riskpercent":"0"},{"@id":"fcla[...]
