---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addpatient","@class":"api","@msgtime":"8/31/2021
        05:48:09 PM","@nocookie":0,"patientlist":{"patient":{"@respparty":"SELF","@name":"penguin,pororo","@sex":"M","@relationship":"1","@hipaarelationship":"18","@dob":"12/04/1989","@ssn":"","@chart":"AUTO","@profile":"3","@finclass":"","@deceased":"","@title":"MR","@maritalstatus":"2","@insorder":"","@employer":"encoratest,
        inc.","address":{"@zip":"38834","@city":"CORINTH","@state":"MS","@address1":"apt
        b-5","@address2":"6923 n mountainside dr"},"contactinfo":{"@homephone":"(662)
        555-1343","@officephone":"(662) 555-9238","@officeext":"213","@otherphone":"(662)
        555-3823","@othertype":"C","@email":"pororo.penguin.test@example.com"},"resppartylist":{"respparty":{"@respparty_name":"","@accttype":""}}}},"resppartylist":{"respparty":{"@name":"","@accttype":""}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEVTWZG","@lst":"8/31/2021
        10:48:10 AM","Results":{"@success":"0"},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147217400","description":"Duplicate name/DOB found","class":"AdvancedMD.Demographics.Demographics","method":"AddPatient","linenum":"0","source":"AdvancedMD.Demographics.Demographics","extrainfo":null}}}}}'
  recorded_at: Tue, 31 Aug 2021 17:48:10 GMT
recorded_with: VCR 6.0.0
