---
http_interactions:
- request:
    method: post
    uri: https://api-102.advancedmd.com/API/scheduler/Appointments/
    body:
      encoding: UTF-8
      string: '{"patientid":5983949,"columnid":1,"color":"BLUE","startdatetime":"2022-10-24T08:33:27.938","duration":60,"profileid":1,"type":[{"id":647842,"name":"TELE
        IA"}],"episodeid":5949591,"comments":"Been through couple of theraphies in
        the past","facilityid":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - http://api-102.advancedmd.com/API/scheduler/Appointments/9543446
      Amds-Lst:
      - 11/08/2021 01:48:14
      Permission-Granted:
      - MAKE APPOINTMENTS
    body:
      encoding: ASCII-8BIT
      string: '{"id":9543446,"startdatetime":"2021-12-29T08:00:00","status":0,"confirmdate":null,"columnid":17,"heading":"BEACHWOOD
        - MILLER","profileid":9,"provider":"MILLER,ALEX","providercode":"MILL00","facilityid":1,"facility":"
        ","facilitycode":"     ","episodeid":5949585,"episode":"STANDARD","patientid":5983949,"firstname":"CAPTAIN","lastname":"BLACKBEARD","middlename":"","ssn":"            ","dob":"1990-07-15T00:00:00","patientemail":"TESTING@EMAIL.COM","patientinactivestatusid":null,"ispatientapproved":true,"chartnumber":"2689","deceased":null,"gender":"M","patientaddress":{"address1":"","address2":"","city":"","state":"","zipcode":"          ","countrycode":""},"responsiblepartyid":6849548,"hasccof":false,"rpname":"BLACKBEARD,CAPTAIN","copay":null,"paymentid":null,"coverageid":null,"carriername":"","carriercode":"","waitlist":null,"recurringappointmentid":null,"recurringappointment":null,"hasrecurrenceexception":false,"recurrenceexception":null,"transitionofcare":false,"tocrequestedavailable":null,"istelemedicine":false,"duration":30,"color":"BLUE","comments":"Sample
        Appointment note","referralplanid":1,"authorizations":null,"referringprovider":{"id":387,"code":"JONES
        ","name":"JONES,CAMERON"},"visitposted":false,"chargesposted":false,"homephone":"
        ","officephone":" ","officeextension":" ","otherphone":" ","otherphonetype":"
        ","preferredphone":"","appointmenttypeids":[1],"appointmenttype":[{"licensekey":995456,"id":1,"name":"Child Neuro/Psych Testing","isdefault":false,"display":false,"billable":true,"transitionofcare":false}],"appointmentinstruction":[],"sequence":"","globalperiod":[],"insuranceorder":"","insurance":[],"arpatientbalance":0.0000,"arfamilybalance":0.0000,"remainingvisits":null,"maxauthvisits":null,"authvisitsused":null,"appointmentgroupid":null,"superbill":null,"linkednotestatus":0}'
  recorded_at: Mon, 08 Nov 2021 09:48:16 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"autoassignforms","@appointmentid":9543446,"@class":"patientforms","@msgtime":"10/21/2022
        05:51:00 PM","@patientid":5983949,"@types":1,"@v":"1","@lac":"/api/onlinescheduling/appointments","@la":"POST"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'AutoAssigned'
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n            {\n                \"PPMDResults\": {\n                    \"Results\":
        {\n                        \"@success\": \"0\"\n                    },\n                    \"Error\":
        {\n                        \"Fault\": {\n                            \"faultcode\":
        \"Client\",\n                            \"faultstring\": \"Client Error\",\n
        \                           \"detail\": {\n                                \"code\":
        \"403\",\n                                \"description\": \"Forbidden: Invalid
        Appname\",\n                                \"extrainfo\": \"Invalid appname:
        You must use the same Appname for subsequent calls that you used to log in.\"\n
        \                           }\n                        }\n                    }\n
        \               }\n            }\n        "
  recorded_at: Fri, 21 Oct 2022 18:03:07 GMT
recorded_with: VCR 6.0.0
