---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"user","@psw":"secret","@officecode":"office","@appname":"app_name"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEZJ7HE","@lst":"6/24/2021
        3:28:47 PM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-101/app_name","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"user"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Keyoffice
        must be redirected to https://provapi.advancedmd.com/processrequest/api-101/app_name.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Thu, 24 Jun 2021 22:28:47 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/app_name/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"user","@psw":"secret","@officecode":"office","@appname":"app_name"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    bod[...]
