---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEZJ7HE","@lst":"8/9/2021
        3:12:28 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Mon, 09 Aug 2021 10:12:28 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"TESTAM,TestAM","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEGWK8T","@lst":"8/9/2021
        3:12:31 AM","Results":{"patientlist":{"@itemcount":"0","@page":"1","@pagecount":"0","@itemsfrom":"0","@itemsto":"0"}},"Error":null}}'
  recorded_at: Mon, 09 Aug 2021 10:12:31 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addpatient","@class":"api","@msgtime":"8/9/2021
        10:12:31 AM","@nocookie":0,"patientlist":{"patient":{"@id":null,"@respparty":"child","@name":"TESTAM,
        TestAM","@sex":"male","@relationship":3,"@hipaarelationship":19,"@dob":"01/04/1995","@chart":"AUTO","@profile":1,"address":{"@zip":null,"@city":null,"@state":null,"@address1":null,"@address2":null},"contactinfo":{"@homephone":"1234567890","@email":"test@gmail.com"},"respparty":{"@respparty_name":null,"@accttype":null}}},"resppartylist":{"respparty":{"@name":null,"@accttype":null}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEYP3NE","@lst":"8/9/2021
        3:12:32 AM","Results":{"@success":"1","patientlist":{"patient":{"@id":"pat5984043","@importid":"","@dob":"01/04/1995","@deceased":"","@inactive":"","@inactivestatus":"","@inactivetitle":"","@inactivedescription":"","@name":"TESTAM,TESTAM","@previouslastname":"","@previousfirstname":"","@previousmiddlename":"","@respparty":"resp6849675","@isinvoiceentity":"0","@profile":"prof1","@insorder":"","@sex":"M","@genderidentity":"","@genderidentityother":"","@orientation":"","@orientationother":"","@chart":"2757","@maritalstatus":"0","@employerid":"","@employer":"","@ssn":"","@finclasscode":"SP","@title":"","@relationship":"3","@hipaarelationship":"19","@languageid":"","@ethnicityid":"","@language":"","@ethnicity":"","@races":"","@recalcbuckets":"0","@additionalmrn":"","address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@areacode":"","@countrycode":""},"previousaddress":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"(123)
        456-7890","@officephone":"","@officeext":"","@otherphone":"","@othertype":"","@email":"TEST@GMAIL.COM","@emailverificationstatus":"0","@preferredcommunicationfid":"","@confidentialcommunicationfid":"","@communicationnote":""},"arbucketlist":{"arbucket":[{"@buckettype":"p","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"pi","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"primarycareprovider":null}},"resppartylist":{"respparty":{"@id":"resp6849675","@name":"TESTAM,TESTAM","@accttype":"ac_type4","@acctnum":"6849675","@dob":"01/04/1995","@sex":"M","@title":"","@employer":"","@employstatus":"1","@ssn":"","@sendstmt":"1","@stmtrestart":"","@holdreasonfid":"0","@holdreasondesc":"","@holdreasoncode":"","@billcycle":"1","@fincharge":"0","@stmtformat":"","@balancefwd":"1","@lastpmtdate":"","@lastpmtamount":"","@laststmtdate":"","@laststmtamount":"","@lastbillingcaption":"","@lastbillingtip":"","@paymentplanbalance":"","@ispaperless":"0","@ispaperlessportalchangedate":"","address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@areacode":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"(123)
        456-7890","@officephone":"","@officeext":"","@otherphone":"","@othertype":"","@email":"TEST@GMAIL.COM","@preferredcommunicationfid":"","@communicationnote":""},"creditcardonfile":null,"arbucketlist":{"arbucket":[{"@buckettype":"r","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"ri","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"familymemberlist":{"familymember":{"@id":"family5984043","@name":"TESTAM,TESTAM","@chart":"2757","@isrp":"0","@previousfirstname":"","@previousmiddlename":"","@previouslastname":"","@hipparelationship":"19","contactinfo":{"@homephone":"(123)
        456-7890"},"address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"previousaddress":{"@address1":"","@address2":"","@countrycode":"","@state":"","@city":"","@zip":""}}}}},"profilelist":{"profile":{"@id":"prof1","@name":"","@fullname":"
        ,","@code":"","@chargefeesched":"feesch1","@fullinactive":"No","@status":"","finclasslist":{"finclass":[{"@id":"fclass1","@name":"","@code":"","@billins":"0","@billlab":"1","@ca":"0","@responsible":"0","@acceptassign":"0","@allowablewocode":"","@autowo":"0","@autowocode":"","@riskwocode":"","@riskpercent":"0"},{"@id":"fclass24","@name":"BLUECROSS
        BLUESHIELD","@code":"BA","@billins":"1","@billlab":"1","@ca":"0","@responsible":"1","@accttype":"ac_type4","@acceptassign":"1","@allowfeesched":"feesch21107","@allowablewocode":"WOINS","@autowo":"0","@autowocode":"","@riskwocode":"","@riskpercent[...]
[...]
