---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEWUBDU","@lst":"2/10/2022
        5:28:15 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Wed, 01 Dec 2021 09:00:00 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"Wilson,David","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEPUQXJ","@lst":"2/10/2022
        5:28:17 AM","Results":{"patientlist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","patient":{"@id":"pat5984010","@name":"WILSON,DAVID","@chart":"2735","@ssn":"","@hipaarelationship":"19","@email":"TEST@GMAIL.COM","@gender":"M","@dob":"01/04/1995","address":{"@zipid":"1","@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":"(123)
        456-7890"}}}},"Error":null}}'
  recorded_at: Wed, 01 Dec 2021 09:00:00 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"getepisodes","@class":"demographics","@msgtime":"12/1/2021
        09:00:00 AM","@patientid":5984106}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFE8V3VB","@lst":"2/10/2022
        5:28:19 AM","Results":{"patientlist":{"patient":{"@id":"pat5984106","@name":"SHAH,AMI","@respparty":"resp6849741","@profile":"prof3","@insorder":"1","@chart":"2784","@finclasscode":"SP","episodelist":{"episode":{"@id":"eps5949680","@name":"STANDARD","@insorder":"1","@respparty":"resp6849741","@finclasscode":"SP","@refplan":"rplan6895536","@groupbymonth":"0","@plancreatedate":"","@ptoffsetdays":"","@stoffsetdays":"","@otoffsetdays":"","@maintenancedate":"","authorizationlist":null,"extins":null}},"refplanlist":{"refplan":{"@id":"rplan6895536","@refprov":"rprov387","@type":"I","@reason":"SELF-REFERRAL","@preauthreq":"0","@preauth":"","@begindate":"08/13/2021","@enddate":"","@maxvisits":"","@usedvisits":"0","@maxamount":"","@usedamount":"0.00","@sequence":"1","@ismain":"1"}},"insplanlist":{"insplan":{"@id":"ins3700909","@carrier":"car1","@begindate":"09/01/2021","@subscriber":"resp6850027","@sequence":"1","@finclasscode":"SP"}}}},"defaults":{"finclass":{"@id":"fclass12","@code":"SP","@name":"SELF
        PAY"}},"carrierlist":{"carrier":{"@id":"car1","@name":" ","@code":"     "}},"resppartylist":{"respparty":[{"@id":"resp6849741","@name":"SHAH,AMI","@isinvoiceentity":"0"},{"@id":"resp6850027","@name":"","@isinvoiceentity":"0"}]},"finclasslist":{"finclass":{"@id":"fclass12","@code":"SP","@name":"SELF
        PAY"}},"refproviderlist":{"refprovider":{"@id":"rprov387","@name":"JONES,CAMERON"}}}}}'
  recorded_at: Wed, 01 Dec 2021 09:00:00 GMT
