---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEPUQXJ","@lst":"3/22/2022
        4:03:04 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Tue, 22 Mar 2022 11:03:04 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuprespparty","@class":"api","@exactmatch":"1","@name":"Jaane,Captain","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEKMYGP","@lst":"3/22/2022
        4:03:07 AM","Results":{"resppartylist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","respparty":{"@id":"resp6850251","@name":"JAANE,CAPTAIN","@acctnum":"6850251","@ssn":"            ","@isinvoiceentity":"0","@dob":"01/01/1986","@email":"TEST@GMAIL.COM","@gender":"M","address":{"@zipid":"1","@zip":"02151","@city":"BOSTON","@state":"MA","@address1":"","@address2":"10
        STORROW DR","@countrycode":"","@areacode":"781"},"contactinfo":{"@homephone":""}}}},"Error":null}}'
  recorded_at: Tue, 22 Mar 2022 11:03:07 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addinsurance","@class":"demographics","@msgtime":"3/22/2022
        11:03:07 AM","@ltq":"2022-03-22T11:03:07.646Z","@lst":"2022-03-22T11:03:07.646Z","patient":{"@id":"pat61722","@changed":1,"insplanlist":{"insplan":{"@id":"","@begindate":"3/1/2022","@enddate":"","@carrier":7562,"@subscriber":"resp6850251","@subscribernum":"NFC123456","@hipaarelationship":"G8","@relationship":"4","@grpname":null,"@grpnum":null,"@copay":null,"@copaytype":null,"@coverage":null,"@payerid":null,"@mspcode":null,"@eligibilityid":null,"@eligibilitystatusid":null,"@eligibilitychangedat":null,"@eligibilitycreatedat":null,"@eligibilityresponsedate":null,"@finclasscode":null,"@deductible":null,"@deductiblemet":null,"@yearendmonth":null,"@lifetime":null,"insnote":{"@self-closing":"true"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEYB9SS","@lst":"3/22/2022
        4:03:08 AM","Results":{"@success":"1","patient":{"@id":"ins3701148","@sequence":"26","@insnotefid":"3910689"}},"Error":null,"ticklersdue":{"@countDue":"0","@countSeen":"0","@ltq":"2022-03-22
        11:03:07 ","@resolutionitems":"0","@olsresolutionitems":"13","@admin":"0"},"notificationtypelist":{"notificationtype":[{"@name":"Critical
        Alert","@count":"0"},{"@name":"Maintenance","@count":"0"},{"@name":"Public
        Alert Incident","@count":"0"},{"@name":"System Alerts","@count":"0"}]}}}'
  recorded_at: Tue, 22 Mar 2022 11:03:09 GMT
recorded_with: VCR 6.0.0
