---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEKRRNQ","@lst":"12/3/2021
        12:51:19 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Fri, 03 Dec 2021 08:51:19 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuprespparty","@class":"api","@exactmatch":"1","@name":"Wilson,David","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFELUANI","@lst":"12/3/2021
        12:51:23 AM","Results":{"resppartylist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","respparty":{"@id":"resp6849630","@name":"WILSON,DAVID","@acctnum":"6849630","@ssn":"            ","@isinvoiceentity":"0","@dob":"01/04/1995","@email":"TEST@GMAIL.COM","@gender":"M","address":{"@zipid":"1","@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":"(123)
        456-7890"}}}},"Error":null}}'
  recorded_at: Fri, 03 Dec 2021 08:51:23 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addrespparty","@class":"demographics","@msgtime":"12/3/2021
        08:51:23 AM","patientlist":{"patient":{"@respparty":"Wilson,David","@name":"Wilson,David","@sex":"M","@relationship":"1","@hipaarelationship":"18","@dob":"04/01/1995","@ssn":null,"@chart":"AUTO","@profile":null,"@finclass":"","@deceased":"","@title":"","@maritalstatus":"","@insorder":"","@employer":"","address":{"@zip":"30301","@city":"Atlanta","@state":"AT","@address1":"Blueflies
        street","@address2":"3rd avenue"},"contactinfo":{"@homephone":"","@officephone":"","@officeext":"","@otherphone":"1234567890","@othertype":"C","@e[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addinsurance","@class":"demographics","@msgtime":"12/3/2021
        08:51:48 AM","@ltq":"2021-12-03T08:51:48.899Z","@lst":"2021-12-03T08:51:48.899Z","patient":{"@id":"pat61722","@changed":1,"insplanlist":{"insplan":{"@id":"","@begindate":"12/1/2021","@enddate":"","@carrier":null,"@subscriber":"resp6850260","@subscribernum":"NFC123456","@hipaarelationship":"18","@relationship":"1","@grpname":null,"@grpnum":null,"@copay":null,"@copaytype":null,"@coverage":null,"@payerid":null,"@mspcode":null,"@eligibilityid":null,"@eligibilitystatusid":null,"@eligibilitychangedat":null,"@eligibilitycreatedat":null,"@eligibilityresponsedate":null,"@finclasscode":null,"@deductible":null,"@deductiblemet":null,"@yearendmonth":null,"@lifetime":null,"insnote":{"@self-closing":"true"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEKRRNQ","@lst":"12/3/2021
        12:51:51 AM","Results":{"@success":"1","patient":{"@id":"ins3701098","@sequence":"19","@insnotefid":"3910639"}},"Error":null,"ticklersdue":{"@countDue":"0","@countSeen":"0","@ltq":"2021-12-03
        08:51:48 ","@resolutionitems":"0","@olsresolutionitems":"13","@admin":"0"},"notificationtypelist":{"notificationtype":[{"@name":"Critical
        Alert","@count":"0"},{"@name":"Maintenance","@count":"0"},{"@name":"Public
        Alert Incident","@count":"0"},{"@name":"System Alerts","@count":"0"}]}}}'
  recorded_at: Fri, 03 Dec 2021 08:51:51 GMT
recorded_with: VCR 6.0.0
