---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFE8V3VB","@lst":"12/3/2021
        1:02:54 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Fri, 03 Dec 2021 09:02:54 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuprespparty","@class":"api","@exactmatch":"1","@name":"Wilson,David","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEHMKML","@lst":"12/3/2021
        1:02:58 AM","Results":{"resppartylist":{"@itemcount":"2","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"2","respparty":[{"@id":"resp6849630","@name":"WILSON,DAVID","@acctnum":"6849630","@ssn":"            ","@isinvoiceentity":"0","@dob":"01/04/1995","@email":"TEST@GMAIL.COM","@gender":"M","address":{"@zipid":"1","@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":"(123)
        456-7890"}},{"@id":"resp6850260","@name":"WILSON,DAVID","@acctnum":"6850260","@ssn":"            ","@isinvoiceentity":"0","@dob":"04/01/1995","@email":"TEST@GMAIL.COM","@gender":"M","address":{"@zipid":"1","@zip":"30301","@city":"ATLANTA","@state":"AT","@address1":"BLUEFLIES
        STREET","@address2":"3RD AVENUE","@countrycode":"","@areacode":"404"},"contactinfo":{"@homephone":""}}]}},"Error":null}}'
  recorded_at: Fri, 03 Dec 2021 09:02:58 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"updatepatient","@class":"api","@msgtime":"12/3/2021
        09:02:58 AM","@force":"1","@nocookie":0,"patientlist":{"patient":{"@id":61722,"@o_respparty":"6849630","@respparty":"resp6850260"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEWAIUQ","@lst":"12/3/2021
        1:02:59 AM","Results":null,"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147217398","description":"Another user has changed
        this patient record.","class":"AdvancedMD.Demographics.Demographics","method":"UpdatePatient","linenum":"0","source":null,"extrainfo":{"requestinfo":{"ppmdmsg":{"@action":"updatepatient","@class":"api","@msgtime":"12/3/2021
        09:02:58 AM","@force":"1","@nocookie":"0","@ip":"49.204.226.70","usercontext":"995456[Removed]","patientlist":{"patient":{"@id":"61722","@o_respparty":"6849630","@respparty":"resp6850260"}}}}}}}}}}'
  recorded_at: Fri, 03 Dec 2021 09:03:00 GMT
recorded_with: VCR 6.0.0
