---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addinsurance","@class":"demographics","@msgtime":"3/22/2022
        10:14:36 AM","@ltq":"2022-03-22T10:14:36.941Z","@lst":"2022-03-22T10:14:36.941Z","patient":{"@id":"pat61722","@changed":1,"insplanlist":{"insplan":{"@id":"","@begindate":"3/1/2022","@enddate":"","@carrier":7562,"@subscriber":"resp6849630","@subscribernum":"NFC123456","@hipaarelationship":"19","@relationship":"3","@grpname":null,"@grpnum":null,"@copay":null,"@copaytype":null,"@coverage":null,"@payerid":null,"@mspcode":null,"@eligibilityid":null,"@eligibilitystatusid":null,"@eligibilitychangedat":null,"@eligibilitycreatedat":null,"@eligibilityresponsedate":null,"@finclasscode":null,"@deductible":null,"@deductiblemet":null,"@yearendmonth":null,"@lifetime":null,"insnote":{"@self-closing":"true"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFETUQDF","@lst":"3/22/2022
        3:14:38 AM","Results":{"@success":"1","patient":{"@id":"ins3701147","@sequence":"25","@insnotefid":"3910688"}},"Error":null,"ticklersdue":{"@countDue":"0","@countSeen":"0","@ltq":"2022-03-22
        10:14:36 ","@resolutionitems":"0","@olsresolutionitems":"13","@admin":"0"},"notificationtypelist":{"notificationtype":[{"@name":"Critical
        Alert","@count":"0"},{"@name":"Maintenance","@count":"0"},{"@name":"Public
        Alert Incident","@count":"0"},{"@name":"System Alerts","@count":"0"}]}}}'
  recorded_at: Tue, 22 Mar 2022 10:14:38 GMT
recorded_with: VCR 6.0.0
