---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEKRRNQ","@lst":"2/28/2022
        6:03:04 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Mon, 28 Feb 2022 14:03:04 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"getdemographic","@class":"demographics","@msgtime":"2/28/2022
        02:03:06 PM","@patientid":"5984602"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEF4KPI","@lst":"2/28/2022
        6:03:07 AM","Results":{"patientlist":{"patient":{"@id":"pat5984602","@importid":"","@dob":"01/03/1992","@deceased":"","@inactive":"","@inactivestatus":"","@inactivetitle":"","@inactivedescription":"","@name":"VINOB,KRUPA","@previouslastname":"","@previousfirstname":"","@previousmiddlename":"","@respparty":"resp6850383","@isinvoiceentity":"0","@profile":"prof5","@insorder":"1","@sex":"F","@genderidentity":"","@genderidentityother":"","@orientation":"","@orientationother":"","@chart":"3151","@maritalstatus":"0","@employerid":"","@employer":"","@ssn":"","@finclasscode":"SP","@title":"","@relationship":"1","@hipaarelationship":"18","@languageid":"","@ethnicityid":"","@language":"","@ethnicity":"","@races":"","@recalcbuckets":"0","@additionalmrn":"","address":{"@zip":"36111","@city":"MONTGOMERY","@state":"AL","@address1":"","@address2":"TEST
        ADDRESS","@areacode":"","@countrycode":""},"previousaddress":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"","@officephone":"","@officeext":"","@otherphone":"(262)
        782-8636","@othertype":"C","@email":"VINOB@EMAIL.COM","@emailverificationstatus":"0","@preferredcommunicationfid":"","@confidentialcommunicationfid":"","@communicationnote":""},"arbucketlist":{"arbucket":[{"@buckettype":"p","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"pi","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"insplanlist":{"insplan":{"@id":"ins3701131","@carrier":"car62869","@begindate":"02/01/2022","@enddate":"","@copay":"0.00","@copaytype":"$","@coverage":"0","@subscriber":"resp6850383","@subscribernum":"678678","@relationship":"1","@hipaarelationship":"18","@sequence":"1","@grpname":"","@grpnum":"","@mspcode":"","@payerid":"","@deductible":"0","@deductiblemet":"0","@yearendmonth":"1","@lifetime":"0","@eligibilityid":"","@eligibilitystatusid":"","@eligibilitychangedat":"","@eligibilitycreatedat":"","@eligibilityresponsedate":"","@claimcount":"0","@eligibilityvalidation":"","@eligibilityvalidationfollowup":"","@eligibilitystc":"MH","@finclasscode":"SP","insnote":{"@insnotefid":"3910672"}}},"refplanlist":{"refplan":[{"@id":"rplan531","@refprov":"rprov1","@type":"M","@marsourceid":"marsource20","@marsource":"FRIEND
        OR FAMILY","@reason":"","@preauthreq":"0","@preauth":"","@refnum":"","@facility":"fac1","@proccode":"","@diagcodes":"","@begindate":"02/28/2022","@enddate":"","@maxvisits":"","@usedvisits":"","@maxamount":"","@usedamount":"","@status":"status21","@sequence":"1","@notes":"","@ismain":"0"},{"@id":"rplan6895949","@refprov":"rprov493","@type":"I","@refplanstatus":"1","@reason":"SELF-REFERRAL","@preauthreq":"0","@preauth":"","@refnum":"","@facility":"fac1","@proccode":"","@diagcodes":"","@begindate":"02/25/2022","@enddate":"","@maxvisits":"","@usedvisits":"","@maxamount":"","@usedamount":"","@status":"status1","@sequence":"1","@notes":"","@ismain":"1"}]},"memolist":{"memo":{"@id":"memo584679","@type":"c","@enddate":"02/28/2023","@changedat":"02/28/2022
        04:48:58","@created":"02/28/2022","@createuser":"LS-API","@revoked":"02/28/2022","@revokedby":"","#text":"NEW
        PATIENT DEFAULT"}},"filelist":null,"visitlist":null,"primarycareprovider":null}},"resppartylist":{"respparty":{"@id":"resp6850383","@name":"VINOB,KRUPA","@accttype":"ac_type4","@acctnum":"6850383","@dob":"01/03/1992","@sex":"F","@title":"","@employer":"","@employstatus":"1","@ssn":"","@sendstmt":"1","@stmtrestart":"","@holdreasonfid":"0","@holdreasondesc":"","@holdreasoncode":"","@billcycle":"1","@fincharge":"0","@stmtformat":"","@balancefwd":"1","@lastpmtdate":"","@lastpmtamount":"","@laststmtdate":"","@laststmtamount":"","@lastbillingcaption":"","@lastbillingtip":"","@paymentplanbalance":"","@ispaperless":"0","@ispaperlessportalchangedate":"","address":{"@zip":"36111","@city":"MONTGOMERY","@state":"AL","@address1":"","@address2":"TEST
        ADDRESS","@areacode":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"","@officephone":"","@officeext":"","@otherphone":"(262)
        782-8636","@othertype":"C","@email":"VINOB@EMAIL.COM","@preferredcommunicationfid":"","@communicationnote":""},"creditcardonfile":null,"arbucketlist":{"arbucket":[{"@buckettype":"r","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"ri","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"familymemberlist":{"familymember":{"@id":"family5984602","@name":"VINOB,KRUPA","@chart":"3151","@isrp":"1","@previousfirstname":"","@previousmiddlename":"","@previouslastname":"","@hipparelationship":"18","contactinfo":{"@homephone":""},"address":{"@zip":"36111","@city":"MONTGOMERY","@state":"AL","@address1":"","@address2":"TEST
        ADDRESS","@countrycode":""},"previousaddress":{"@address1":"","@address2":"","@countrycode":"","@state":"","@city":"","@zip":""}}}}},"accttypelist":{"accttype":{"@id":"ac_type4","@name":"TYPICAL
        ACCOUNT","@code":"TA"}},"profilelist":{"profile":{"@id":"prof5","@name":"RICHEY,
        DREW","@fullname":"RICHEY,DREW","@code":"RICHEY","@chargefeesched":"feesch21092","@fullinactive":"No","@status":"ACTIVE","finclasslist":{"finclass":[{"@id":"fclass1","@name":"","@code":"","@billins":"0","@billlab":"1","@ca":"0","@responsible":"0","@acceptassign":"0","@allowablewocode":"","@autowo":"0","@autowocode":"","@riskwocode":"","@riskpercent":"0"},{"@id":"fclass2","@name":"DOUBLE
        INSURANCE COVERAGE","@code":"DC","@billins":"1","@billlab":"1","@ca":"0","@responsible":"1","@accttype":"ac_type4","@acceptassign":"1","@allowablewocode":"WOINS","@autowo":"0","@autowocode":"None","@riskwocode":"None","@riskpercent":"0"},{"@id":"fcla[...]
