---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"updatepatient","@class":"api","@msgtime":"7/12/2021
        10:52:26 PM","@force":"1","@nocookie":"0","patientlist":{"patient":{"@name":"updated
        name","@employer":"employer updated","address":{},"contactinfo":{}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFECJPSW","@lst":"7/12/2021
        3:52:26 PM","Results":{"@success":"0"},"Error":{"Fault":{"faultcode":"Server","faultstring":"Server
        Error","detail":{"code":"-2147218426","description":"AMD-995456-07121552 |
        No Patient ID Included","class":"AdvancedMD.Demographics.Demographics","method":"UpdatePatient","linenum":"0","source":"AdvancedMD.Demographics","extrainfo":null}}}}}'
  recorded_at: Mon, 12 Jul 2021 22:52:26 GMT
recorded_with: VCR 6.0.0
