---
http_interactions:
- request:
    method: get
    uri: https://www.zipcodeapi.com/rest/ChDimMN4QwCcX3m6by3KzipvDfS27odFD19M1G7Iu2fxbQkjbKvbM0qSD7oz4o5r/radius.json/27041/60/mile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"zip_codes":[{"zip_code":"28023","distance":59.596,"city":"China Grove","state":"NC"},{"zip_code":"28041","distance":58.424,"city":"Faith","state":"NC"},{"zip_code":"28072","distance":56.098,"city":"Granite
        Quarry","state":"NC"},{"zip_code":"28146","distance":55.939,"city":"Salisbury","state":"NC"},{"zip_code":"28125","distance":54.246,"city":"Mount
        Ulla","state":"NC"},{"zip_code":"28145","distance":52.879,"city":"Salisbury","state":"NC"},{"zip_code":"28039","distance":51.65,"city":"East
        Spencer","state":"NC"},{"zip_code":"28166","distance":55.698,"c[...]
