---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addinsurance","@class":"demographics","@msgtime":"7/13/2021
        09:45:23 AM","patient":{"@id":"pat61722","@changed":1,"insplanlist":{"insplan":{"@id":"","@begindate":"07/13/2021","@enddate":"07/20/2021","@carrier":"car7562","@subscriber":"resp684954","@subscribernum":null,"@hipaarelationship":"18","@relationship":"1","@grpname":"","@grpnum":"","@copay":"0.0","@copaytype":"$","@coverage":"3","@payerid":"","@mspcode":"","@eligibilityid":"","@eligibilitystatusid":"","@eligibilitychangedat":"","@eligibilitycreatedat":"","@eligibilityresponsedate":"","@finclasscode":"","@deductible":"0.00","@deductiblemet":"0.00","@yearendmonth":"1","@lifetime":"0.00","insnote":{"@self-closing":"true"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFERXSV6","@lst":"7/13/2021
        2:45:30 AM","Error":{"Fault":{"faultcode":"Server","faultstring":"Server Error","detail":{"code":"-2147221504","description":"AMD-995456-07130245
        | The INSERT statement conflicted with the FOREIGN KEY constraint \"FK_pt_InsuranceCoverages_pt_ResponsibleParties\".
        The conflict occurred in database \"PPMD_CLIENT_CBO_2615_5_0\", table \"dbo.pt_ResponsibleParties\".","class":"AdvancedMD.Demographics.Demographics","method":"Interop.MSSEventLog._IPPMDGateway.Gateway","linenum":"0","source":"System.Data.SqlClient.SqlException
        (0x80131904): The INSERT statement conflicted with the FOREIGN KEY constraint
        \"FK_pt_InsuranceCoverages_pt_ResponsibleParties\". The conflict occurred
        in database \"PPMD_CLIENT_CBO_2615_5_0\", table \"dbo.pt_ResponsibleParties\".\r\n   at
        System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean
        breakConnection, Action`1 wrapCloseInAction)\r\n   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarni[...]
