---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addinsurance","@class":"demographics","@msgtime":"7/13/2021
        09:35:35 AM","patient":{"@id":"pat61722","@changed":1,"insplanlist":{"insplan":{"@id":"","@begindate":"07/13/2021","@enddate":"07/20/2021","@carrier":"car7562","@subscriber":"resp6849546","@subscribernum":null,"@hipaarelationship":"18","@relationship":"1","@grpname":"","@grpnum":"","@copay":"0.0","@copaytype":"$","@coverage":"3","@payerid":"","@mspcode":"","@eligibilityid":"","@eligibilitystatusid":"","@eligibilitychangedat":"","@eligibilitycreatedat":"","@eligibilityresponsedate":"","@finclasscode":"","@deductible":"0.00","@deductiblemet":"0.00","@yearendmonth":"1","@lifetime":"0.00","insnote":{"@self-closing":"true"}}}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFECSSFR","@lst":"7/13/2021
        2:35:43 AM","Results":{"@success":"1","patient":{"@id":"ins3700778","@sequence":"13","@insnotefid":"3910315"}},"Error":null}}'
  recorded_at: Tue, 13 Jul 2021 09:35:43 GMT
recorded_with: VCR 6.0.0
