---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"addrespparty","@class":"demographics","@msgtime":"7/9/2021
        07:46:03 PM","patientlist":{"patient":{"@respparty":"something_not_valid","@name":"ami,mon","@sex":"M","@relationship":"1","@hipaarelationship":"18","@dob":"12/04/1965","@ssn":"682-39-8688","@chart":"AUTO","@profile":"3","@finclass":"","@deceased":"","@title":"MR","@maritalstatus":"2","@insorder":"","@employer":"ibm,
        inc.","address":{"@zip":null,"@city":null,"@state":null,"@address1":null,"@address2":null},"contactinfo":{"@homephone":null,"@officephone":null,"@officeext":null,"@otherphone":null,"@othertype":null,"@email":null}}},"resppartylist":{"respparty":{"@name":"ami,mon","@accttype":"something_not_valid"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEAYQLM","@lst":"7/9/2021
        12:46:03 PM","Results":{"@success":"1","respparty":{"@id":"resp6849545","@name":"AMI,MON","@accttype":"ac_type4","@acctnum":"6849545","@dob":"","@sex":"
        ","@title":"","@employer":"","@employstatus":"1","@ssn":"","@sendstmt":"1","@stmtrestart":"","@holdreasonfid":"0","@holdreasondesc":"","@holdreasoncode":"","@billcycle":"1","@fincharge":"0","@stmtformat":"","@balancefwd":"1","@lastpmtdate":"","@lastpmtamount":"","@laststmtdate":"","@laststmtamount":"","@paymentplanbalance":"","@ispaperless":"0","@ispaperlessportalchangedate":"","address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@areacode":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"","@officephone":"","@officeext":"","@otherphone":"","@othertype":"","@email":"","@preferredcommunicationfid":"","@communicationnote":""},"creditcardonfile":null,"arbucketlist":{"arbucket":[{"@buckettype":"r","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"ri","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"familymemberlist":null},"accttype":{"@id":"ac_type4","@name":"TYPICAL
        ACCOUNT","@code":"TA"}},"Error":null}}'
  recorded_at: Fri, 09 Jul 2021 19:46:03 GMT
recorded_with: VCR 6.0.0
