---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"Wilson,test","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE3NHSK","@lst":"11/8/2021
        2:41:59 AM","Results":{"patientlist":{"@itemcount":"0","@page":"1","@pagecount":"0","@itemsfrom":"0","@itemsto":"0"}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:41:59 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarsource","@class":"api","@exactmatch":"0","@name":"SEARCH
        ENGINE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEVTWZG","@lst":"11/8/2021
        2:42:00 AM","Results":{"marsourcelist":{"marsource":{"@id":"source19","@name":"SEARCH
        ENGINE"}}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:42:00 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarstatus","@class":"api","@exactmatch":"0","@name":"1-SCHEDULED
        CONSULT"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEIEPSA","@lst":"11/8/2021
        2:42:01 AM","Results":{"marstatuslist":{"marstatus":{"@id":"stat21","@name":"1-SCHEDULED
        CONSULT"}}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:42:02 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/api/api-101/LIFESTANCE/referral/MarketingReferrals
    body:
      encoding: UTF-8
      string: '{"patientid":5983942,"sourceid":19,"statusid":21}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 995456CjDc6o1RLzquOBu3UOrcBXnUfXMoj1MWcxhtfuLZOXG2NGTGdOc+255GQrKW2kOLSYGMPcWxgAEHYspGr9ePHylxJkiPaFGE9tpA0Xqpaqwq8X7ToMJ4dIIHshhQMp5lMcnMp5+kY53qy0Te2yFqjexzhrP891sKuAXl7MIa33E+EyB2/DtzGW5lceP0k+y4MoYx+c4cr+3wb7AU+inOfQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 11/08/2021 02:42:03
      Permission-Granted:
      - REFERRALS
    body:
      encoding: ASCII-8BIT
      string: '{"id":469,"statusid":21,"statusname":"1-SCHEDULED CONSULT","sourceid":19,"sourcename":"SEARCH
        ENGINE","description":"","createdby":"LS-API","createdat":"2021-11-08T02:42:03.32","changedby":"","changedat":null,"notes":[]}'
  recorded_at: Mon, 08 Nov 2021 10:42:03 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarstatus","@class":"api","@exactmatch":"0","@name":"1-SCHEDULED
        CONSULT"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFES2KDM","@lst":"11/8/2021
        2:42:04 AM","Results":{"marstatuslist":{"marstatus":{"@id":"stat21","@name":"1-SCHEDULED
        CONSULT"}}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:42:05 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/api/api-102/LIFESTANCE/referral/MarketingReferrals
    body:
      encoding: UTF-8
      string: '{"patientid":5983942,"sourceid":19,"statusid":21}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 995456AWX/4q//hQOSOP+0rsMonov4/bHaVJibxm3hyRv/qI7JpWUBjlTuVLlUGckePheIlklan3eaN1lnguYx+Nv8CKp0fYOuo72YYgQOuka2RYSO6fKJEfTgj5QqhASpozpKREN1ENkYkCMXHHs8nJ6w4oX60R+Dsa0ZEkS4IJCD8rUtUo18yWcEBF2nN51t+BIW1UYscsAG9BizZULhlhH+mQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 11/08/2021 02:42:06
      Permission-Granted:
      - REFERRALS
    body:
      encoding: ASCII-8BIT
      string: '{"id":470,"statusid":21,"statusname":"1-SCHEDULED CONSULT","sourceid":19,"sourcename":"SEARCH
        ENGINE","description":"","createdby":"LS-API","createdat":"2021-11-08T02:42:06.323","changedby":"","changedat":null,"notes":[]}'
  recorded_at: Mon, 08 Nov 2021 10:42:06 GMT
recorded_with: VCR 6.0.0
