---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEBVBXZ","@lst":"3/22/2022
        3:17:39 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Tue, 22 Mar 2022 10:17:39 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: put
    uri: https://api-102.advancedmd.com/API/scheduler/Appointments/9543341/cancel
    body:
      encoding: UTF-8
      string: '{"id":9543341,"startdatetime":"2022-04-01T06:17:37.827","columnid":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 03/22/2022 03:17:42
      Permission-Granted:
      - MAKE APPOINTMENTS
    body:
      encoding: ASCII-8BIT
      string: '{"id":9543341,"startdatetime":"2021-07-27T16:00:00","status":10,"confirmdate":null,"columnid":17,"heading":"BEACHWOOD
        - MILLER","profileid":9,"provider":"MILLER,ALEX","providercode":"MILL00","facilityid":1,"facility":"
        ","facilitycode":"     ","episodeid":5949585,"episode":"STANDARD","patientid":5983949,"firstname":"CAPTAIN","lastname":"BLACKBEARD","middlename":"","ssn":"            ","dob":"1990-07-15T00:00:00","patientemail":"TESTING@EMAIL.COM","patientinactivestatusid":null,"ispatientapproved":true,"chartnumber":"2689","deceased":null,"gender":"M","patientaddress":{"address1":"","address2":"","city":"","state":"","zipcode":"          ","countrycode":""},"responsiblepartyid":6849548,"hasccof":false,"rpname":"BLACKBEARD,CAPTAIN","copay":null,"paymentid":null,"coverageid":null,"carriername":"","carriercode":"","waitlist":null,"recurringappointmentid":null,"recurringappointment":null,"hasrecurrenceexception":false,"recurrenceexception":null,"transitionofcare":false,"tocrequestedavailable":null,"istelemedicine":false,"duration":30,"color":"STRING","comments":"","referralplanid":1,"authorizations":null,"referringprovider":{"id":387,"code":"JONES
        ","name":"JONES,CAMERON"},"visitposted":false,"chargesposted":false,"homephone":"
        ","officephone":" ","officeextension":" ","otherphone":" ","otherphonetype":"
        ","preferredphone":"","appointmenttypeids":[1],"appointmenttype":[{"licensekey":995456,"id":1,"name":"
        ","isdefault":false,"display":false,"billable":true,"transitionofcare":false,"istelemedicine":false,"usecarriermaxtime":false}],"appointmentinstruction":[],"sequence":"","globalperiod":[],"insuranceorder":"","insurance":[],"arpatientbalance":0.0000,"arfamilybalance":0.0000,"remainingvisits":null,"maxauthvisits":null,"authvisitsused":null,"appointmentgroupid":null,"superbill":null,"linkednotestatus":0}'
  recorded_at: Tue, 22 Mar 2022 10:17:43 GMT
recorded_with: VCR 6.0.0
