---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEWAIUQ","@lst":"3/21/2022
        6:27:09 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Mon, 21 Mar 2022 13:27:09 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"getepisodes","@class":"demographics","@msgtime":"3/21/2022
        01:27:11 PM","@patientid":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
- request:
    method: post
    uri: https://api-102.advancedmd.com/API/scheduler/Appointments/
    body:
      encoding: UTF-8
      string: '{"patientid":null,"columnid":1,"startdatetime":"2022-03-21T11:26:55.237","duration":60,"profileid":1,"type":[],"episodeid":null,"comments":"Been
        through couple of theraphies in the past"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 03/21/2022 06:27:14
      Permission-Granted:
      - MAKE APPOINTMENTS
    body:
      encoding: ASCII-8BIT
      string: '{"patientid":["The PatientId field is required."]}'
  recorded_at: Mon, 21 Mar 2022 13:27:14 GMT
- request:
    method: post
    uri: https://sessions.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"notifier":{"name":"Ruby Bugsnag Notifier","url":"https://www.bugsnag.com","version":"6.21.0"},"device":{"hostname":"GGKU5MACBOOK037s-MacBook-Pro.local","runtimeVersions":{"ruby":"3.0.1","rails":"6.1.3.1","rack":"2.2.3"}},"app":{"version":null,"releaseStage":"test","type":"rails"},"sessionCounts":[{"startedAt":"2022-03-21T13:26:00","sessionsStarted":1}]}'
    headers:
      Bugsnag-Api-Key:
      - 7858210f66e93cdf869c99ecfcc0a7f2
      Bugsnag-Payload-Version:
      - '1.0'
      Content-Type:
      - application/json
      Bugsnag-Sent-At:
      - '2022-03-21T15:52:26.232Z'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Bugsnag-Session-Uuid:
      - 6857f754-7fef-4b19-affb-a0a09d17f697
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Mon, 21 Mar 2022 15:52:26 GMT
recorded_with: VCR 6.0.0
