---
http_interactions:
- request:
    method: post
    uri: https://api-101.advancedmd.com/API/scheduler/Appointments/
    body:
      encoding: UTF-8
      string: '{"patientid":5983949,"columnid":17,"startdatetime":"2021-07-27T16:00:00.0Z","duration":30,"color":"string","profileid":9,"episodeid":1,"type":[{"id":1}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 07/26/2021 15:19:15
      Permission-Granted:
      - MAKE APPOINTMENTS
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Requested appointment overlaps with existing appointment.","errorcode":4101}'
  recorded_at: Mon, 26 Jul 2021 22:19:15 GMT
recorded_with: VCR 6.0.0
