---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"getdemographic","@class":"api","@msgtime":"12/10/2021
        10:24:49 AM","@patientid":"-123"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEBVBXZ","@lst":"12/10/2021
        2:24:50 AM","Error":{"Fault":{"faultcode":"Server","faultstring":"Server Error","detail":{"code":"-2147221504","description":"AMD-995456-12100224
        | The INSERT statement conflicted with the FOREIGN KEY constraint \"FK_pt_ReferralPlans_pt_PatientInfo\".
        The conflict occurred in database \"PPMD_CLIENT_CBO_2615_5_0\", table \"dbo.pt_PatientInfo\".","class":"AdvancedMD.Demographics.Demographics","method":"Interop.MSSEventLog._IPPMDGateway.Gateway","linenum":"0","source":"System.Data.SqlClient.SqlException
        (0x80131904): The INSERT statement conflicted with the FOREIGN KEY constraint
        \"FK_pt_ReferralPlans_pt_PatientInfo\". The conflict occurred in database
        \"PPMD_CLIENT_CBO_2615_5_0\", table \"dbo.pt_PatientInfo\".\r\n   at System.Data.SqlClient.SqlConnection.OnError(SqlException
        exception, Boolean breakConnection, Action`1 wrapCloseInAction)\r\n   at System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject
   [...]
