---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"getdemographic","@class":"api","@msgtime":"12/10/2021
        10:10:22 AM","@patientid":5983942}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFE8V3VB","@lst":"12/10/2021
        2:10:24 AM","Results":{"patientlist":{"patient":{"@id":"pat5983942","@importid":"","@dob":"12/04/1989","@deceased":"","@inactive":"","@inactivestatus":"","@inactivetitle":"","@inactivedescription":"","@name":"ROGELIO,GODINEZ","@previouslastname":"","@previousfirstname":"","@previousmiddlename":"","@respparty":"resp6849556","@isinvoiceentity":"0","@profile":"prof3","@insorder":"","@sex":"M","@genderidentity":"","@genderidentityother":"","@orientation":"","@orientationother":"","@chart":"2686","@maritalstatus":"2","@employerid":"","@employer":"ENCORATEST,
        INC.","@ssn":"XXX-XX-1234","@finclasscode":"SP","@title":"MR","@relationship":"1","@hipaarelationship":"18","@languageid":"","@ethnicityid":"","@language":"","@ethnicity":"","@races":"","@recalcbuckets":"0","@additionalmrn":"","address":{"@zip":"30301","@city":"ATLANTA","@state":"AT","@address1":"BLUEFLIES
        STREET","@address2":"3RD AVENUE","@areacode":"662","@countrycode":""},"previousaddress":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"(662)
        555-1343","@officephone":"(662) 555-9238","@officeext":"213","@otherphone":"(662)
        555-3823","@othertype":"C","@email":"ROGELIOGODINEZ@ENCORATEST.COM","@emailverificationstatus":"2","@preferredcommunicationfid":"","@confidentialcommunicationfid":"","@communicationnote":""},"arbucketlist":{"arbucket":[{"@buckettype":"p","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"pi","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"primarycareprovider":null}},"resppartylist":{"respparty":{"@id":"resp6849556","@name":"CAPTAIN,BLACKBEARD","@accttype":"ac_type4","@acctnum":"6849556","@dob":"07/14/1991","@sex":"M","@title":"","@employer":"","@employstatus":"1","@ssn":"XXX-XX-1234","@sendstmt":"1","@stmtrestart":"","@holdreasonfid":"0","@holdreasondesc":"","@holdreasoncode":"","@billcycle":"1","@fincharge":"0","@stmtformat":"","@balancefwd":"1","@lastpmtdate":"","@lastpmtamount":"","@laststmtdate":"","@laststmtamount":"","@lastbillingcaption":"","@lastbillingtip":"","@paymentplanbalance":"","@ispaperless":"0","@ispaperlessportalchangedate":"","address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@areacode":"","@countrycode":""},"contactinfo":{"@name":"","@homephone":"","@officephone":"","@officeext":"","@otherphone":"","@othertype":"","@email":"TEST@GMAIL.COM","@preferredcommunicationfid":"","@communicationnote":""},"creditcardonfile":null,"arbucketlist":{"arbucket":[{"@buckettype":"r","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"},{"@buckettype":"ri","@current":"0.00","@past30":"0.00","@past60":"0.00","@past90":"0.00","@past120":"0.00","@unapplied":"0.00","@total":"0.00"}]},"familymemberlist":{"familymember":[{"@id":"family5983942","@name":"ROGELIO,GODINEZ","@chart":"2686","@isrp":"1","@previousfirstname":"","@previousmiddlename":"","@previouslastname":"","@hipparelationship":"18","contactinfo":{"@homephone":"(662)
        555-1343"},"address":{"@zip":"30301","@city":"ATLANTA","@state":"AT","@address1":"BLUEFLIES
        STREET","@address2":"3RD AVENUE","@countrycode":""},"previousaddress":{"@address1":"","@address2":"","@countrycode":"","@state":"","@city":"","@zip":""}},{"@id":"family5983957","@name":"CAPTAIN,BLACKBEARD","@chart":"2697","@isrp":"1","@previousfirstname":"","@previousmiddlename":"","@previouslastname":"","@hipparelationship":"18","contactinfo":{"@homephone":""},"address":{"@zip":"","@city":"","@state":"","@address1":"","@address2":"","@countrycode":""},"previousaddress":{"@address1":"","@address2":"","@countrycode":"","@state":"","@city":"","@zip":""}}]}}},"profilelist":{"profile":{"@id":"prof3","@name":"JONES,CAMERON","@fullname":"JONES,CAMERON","@code":"JONES","@chargefeesched":"feesch21092","@fullinactive":"No","@status":"ACTIVE","finclasslist":{"finclass":[{"@id":"fclass1","@name":"","@code":"","@billins":"0","@billlab":"1","@ca":"0","@responsible":"0","@acceptassign":"0","@allowablewocode":"","@autowo":"0","@autowocode":"","@riskwocode":"","@riskpercent":"0"},{"@id":"fclass2","@name":"DOUBLE
        INSURANCE COVERAGE","@code":"DC","@billins":"1","@billlab":"1","@ca":"0","@responsible":"1","@accttype":"ac_type4","@acceptassign":"1","@allowablewocode":"WOINS","@autowo":"0","@autowocode":"None","@riskwocode":"None","@riskpercent":"0"},{"@id":"fcla[...]
