---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEJ24Y9","@lst":"8/18/2021
        1:17:05 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Wed, 18 Aug 2021 08:17:05 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"Wilson,test","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEAYQLM","@lst":"8/18/2021
        1:17:08 AM","Results":{"patientlist":{"@itemcount":"0","@page":"1","@pagecount":"0","@itemsfrom":"0","@itemsto":"0"}},"Error":null}}'
  recorded_at: Wed, 18 Aug 2021 08:17:09 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarsource","@class":"api","@exactmatch":"0","@name":"SEARCH
        ENGINE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEHOX3K","@lst":"8/18/2021
        1:17:10 AM","Results":{"marsourcelist":{"marsource":{"@id":"source19","@name":"SEARCH
        ENGINE"}}},"Error":null}}'
  recorded_at: Wed, 18 Aug 2021 08:17:10 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarstatus","@class":"api","@exactmatch":"0","@name":"1-SCHEDULED
        CONSULT"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEGWK8T","@lst":"8/18/2021
        1:17:11 AM","Results":{"marstatuslist":{"marstatus":{"@id":"stat21","@name":"1-SCHEDULED
        CONSULT"}}},"Error":null}}'
  recorded_at: Wed, 18 Aug 2021 08:17:11 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/api/api-101/LIFESTANCE/referral/MarketingReferrals
    body:
      encoding: UTF-8
      string: '{"patientid":5983942,"sourceid":19,"statusid":21}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 995456iush7kw9uXgDOSyWe+9pS11nM+G7xf7SEZKZZ82lVW1TYegbbxTQK6+LeKuHcwFe/vRVX28yx66z/eMZfiWmWEM9gy48tME2T0QgYPgiBxINZzxuAJSVrVNCf7ZE9WB470luhng8QT3/8sdHI4aSCYJqSKO6mrHSsb/+5TkqaYEd4uCH11J1+JxdyLlOWnAG5khQpGFIHHXoYhzQ7JGFQA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - '08/18/2021 01:17:12'
      Permission-Granted:
      - REFERRALS
    body:
      encoding: ASCII-8BIT
      string: '{"notes":[],"id":317,"statusid":21,"sourceid":19,"description":"","createdby":"LS-API","createdat":"2021-08-18T01:17:13.003","changedby":"","changedat":null}'
  recorded_at: Wed, 18 Aug 2021 08:17:13 GMT
[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarsource","@class":"api","@exactmatch":"0","@name":"SEARCH
        ENGINE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEYP3NE","@lst":"8/18/2021
        1:17:34 AM","Results":{"marsourcelist":{"marsource":{"@id":"source19","@name":"SEARCH
        ENGINE"}}},"Error":null}}'
  recorded_at: Wed, 18 Aug 2021 08:17:34 GMT
recorded_with: VCR 6.0.0
