---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEGWK8T","@lst":"7/28/2021
        5:24:56 PM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Thu, 29 Jul 2021 00:24:56 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"getepisodes","@class":"demographics","@msgtime":"7/29/2021
        12:25:18 AM","@patientid":5982717}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI1WFEHOX3K","@lst":"7/28/2021
        5:25:19 PM","Results":{"patientlist":{"patient":{"@id":"pat5982717","@name":"TEST,LUCY","@respparty":"resp6848164","@profile":"prof3","@insorder":"","@chart":"2600","@finclasscode":"XX","episodelist":{"episode":{"@id":"eps5948273","@name":"STANDARD","@insorder":"","@respparty":"resp6848164","@finclasscode":"XX","@refplan":"rplan6893975","@groupbymonth":"0","@plancreatedate":"","@ptoffsetdays":"","@stoffsetdays":"","@otoffsetdays":"","@maintenancedate":"","authorizationlist":null,"extins":null}},"refplanlist":{"refplan":{"@id":"rplan6893975","@refprov":"rprov387","@type":"I","@reason":"SELF-REFERRAL","@preauthreq":"0","@preauth":"","@begindate":"07/05/2018","@enddate":"","@maxvisits":"","@usedvisits":"0","@maxamount":"","@usedamount":"0.00","@sequence":"1","@ismain":"1"}},"insplanlist":null}},"defaults":{"finclass":{"@id":"fclass12","@code":"SP","@name":"SELF
        PAY"}},"carrierlist":null,"resppartylist":{"respparty":{"@id":"resp6848164","@name":"TEST,LUCY","@isinvoiceentity":"0"}},"finclasslist":{"finclass":{"@id":"fclass16","@code":"XX","@name":"CHANGE
        THIS!!!!"}},"refproviderlist":{"refprovider":{"@id":"rprov387","@name":"JONES,CAMERON"}}}}}'
  recorded_at: Thu, 29 Jul 2021 00:25:19 GMT
[...]
