---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEUSXEM","@lst":"7/19/2023
        5:07:33 PM","Results":{"@success":"0","usercontext":{"@webserver":"https://providerapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://providerapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"C:\\azp\\agent\\_work\\5\\s\\Components\\AdvancedMD.Security\\AdvancedMD.Security\\Login.cs","method":"LoginUser","linenum":"702","source":"AdvancedMD.Security.Login.AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Thu, 20 Jul 2023 00:07:33 GMT
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; char[...]
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuprespparty","@class":"api","@exactmatch":"1","@name":"ANDRIEU,ADDISON","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE4IBI6","@lst":"7/19/2023
        5:07:34 PM","Results":{"resppartylist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","respparty":{"@id":"resp6847854","@name":"ANDRIEU,ADDISON","@acctnum":"6847854","@ssn":"XXX-XX-5487","@isinvoiceentity":"0","@dob":"01/23/1980","@email":"ANDRIEU.ADDISON@EXAMPLE.COM","@gender":"F","address":{"@zipid":"1","@zip":"74073-2837","@city":"ANCHORAGE
        MUNICIPALITY","@state":"AK","@address1":"","@address2":"9780 MILL ST","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":"(334)
        211-6777"}}}},"Error":null}}'
  recorded_at: Thu, 20 Jul 2023 00:07:34 GMT
[...]
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"ANDRIEU,ADDISON","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEGWRMP","@lst":"7/19/2023
        5:07:34 PM","Results":{"patientlist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","patient":{"@id":"pat5982454","@name":"ANDRIEU,ADDISON","@chart":"2577","@ssn":"XXX-XX-5487","@hipaarelationship":"18","@email":"ANDRIEU.ADDISON@EXAMPLE.COM","@gender":"F","@dob":"01/23/1980","address":{"@zipid":"1","@zip":"74073-2837","@city":"ANCHORAGE
        MUNICIPALITY","@state":"AK","@address1":"","@address2":"9780 MILL ST","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":"(334)
        211-6777"}}}},"Error":null}}'
  recorded_at: Thu, 20 Jul 2023 00:07:34 GMT
recorded_with: VCR 6.0.0