---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuprespparty","@class":"api","@exactmatch":"-1","@name":"ANDRIEU,ADDISON","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE9ID3C","@lst":"8/31/2021
        11:22:48 AM","Results":{"resppartylist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","respparty":{"@id":"resp6847854","@name":"ANDRIEU,ADDISON","@acctnum":"6847854","@ssn":"XXX-XX-5487","@isinvoiceentity":"0","@dob":"01/23/1980","@email":"ANDRIEU.ADDISON@EXAMPLE.COM","@gender":"F","address":{"@zipid":"1","@zip":"74073-2837","@city":"ANCHORAGE
        MUNICIPALITY","@state":"AK","@address1":"","@address2":"9780 MILL ST","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":"(334)
        211-6777"}}}},"Error":null}}'
  recorded_at: Tue, 31 Aug 2021 18:22:48 GMT
[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuprespparty","@class":"api","@exactmatch":"-1","@name":"ANDRIEU,ADDISON","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE5PVCG","@lst":"8/31/2021
        11:23:24 AM","Results":{"resppartylist":{"@itemcount":"1","@page":"1","@pagecount":"1","@itemsfrom":"1","@itemsto":"1","respparty":{"@id":"resp6847854","@name":"ANDRIEU,ADDISON","@acctnum":"6847854","@ssn":"XXX-XX-5487","@isinvoiceentity":"0","@dob":"01/23/1980","@email":"ANDRIEU.ADDISON@EXAMPLE.COM","@gender":"F","address":{"@zipid":"1","@zip":"74073-2837","@city":"ANCHORAGE
        MUNICIPALITY","@state":"AK","@address1":"","@address2":"9780 MILL ST","@countrycode":"","@areacode":""},"contactinfo":{"@homephone":"(334)
        211-6777"}}}},"Error":null}}'
  recorded_at: Tue, 31 Aug 2021 18:23:24 GMT
recorded_with: VCR 6.0.0
