---
http_interactions:
- request:
    method: post
    uri: https://sessions.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"notifier":{"name":"Ruby Bugsnag Notifier","url":"https://www.bugsnag.com","version":"6.21.0"},"device":{"hostname":"ENCEDCCUULT0763.local","runtimeVersions":{"ruby":"3.0.1","rails":"6.1.7.3","rack":"2.2.7"}},"app":{"version":null,"releaseStage":"test","type":"rails"},"sessionCounts":[{"startedAt":"2023-06-03T14:45:00","sessionsStarted":124},{"startedAt":"2021-11-10T22:44:00","sessionsStarted":8},{"startedAt":"2021-12-01T09:00:00","sessionsStarted":28}]}'
    headers:
      Bugsnag-Api-Key:
      - 7858210f66e93cdf869c99ecfcc0a7f2
      Bugsnag-Payload-Version:
      - '1.0'
      Content-Type:
      - application/json
      Bugsnag-Sent-At:
      - '2023-06-03T14:45:00.000Z'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Bugsnag-Session-Uuid:
      - d40b1042-66cc-4aaf-af5b-567a3cb387c1
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Sat, 03 Jun 2023 14:45:00 GMT
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"advancedmd-api-processrequest-1-6b85bb946c-p8xxq","@lst":"12/13/2024
        15:25:39","Results":{"@success":"0","usercontext":{"@webserver":"https://providerapi.advancedmd.com/processrequest/api-136/LIFESTANCE","@reportingServerURL":"https://reportingservices-103.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://providerapi.advancedmd.com/processrequest/api-136/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"Login","method":"LoginUserAsync","linenum":"765","source":"AdvancedMD.Security.Login+<LoginUserAsync>d__25.AdvancedMD.Security.Login+<LoginUserAsync>d__25","extrainfo":null}}}}}'
  recorded_at: Sat, 03 Jun 2023 14:45:00 GMT
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-136/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; char[...]
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-136/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"selectuserfiletemplates","@class":"masterfiles","@templatetype":"pt","@nocookie":"0"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"advancedmd-api-processrequest-6-64ddc79786-bgczc","@lst":"12/13/2024
        15:25:40","Results":{"record":[{"@ordinal":"-999","@uid":"515","@code":"OBIE","@name":"OBIE","@templatetype":"pt","@issingleuse":"0","@hasmultiple":"1","@includeinmailmerge":"0","@includeonfacesheet":"0","@alwaysshowonfacesheet":"0","@includeindemographics":"1","@alwaysshowindemographics":"0","@restrictupdates":"0","@sortby1id":"","@sortby1desc":"1","@sortby2id":"","@sortby2desc":"0","@changedat":"2021-11-01
        09:59:26","@changedby":"DFONTAINE","@createdat":"2021-08-04 07:42:48","@createdby":"DFONTAINE","@systemtype":"0","@display":"1","@fieldlist":"Preferred
        Name, Pronouns, Tell us about.., Special Cases, Visit Reason","fieldlist":{"field":[{"@id":"5159","@ordinal":"0","@name":"Preferred
        Name","@alias":"C_OBIE_Nickname","@datatype":"Text","@subtype":"","@isrequired":"0","@defaultvalue":"","@defaultvaluename":"","@defaultvaluecode":"","@validationregexp":"","@includeinlist":"1","@includeinmailmerge":"0","@display":"1","@normalrangelow":"","@normalrangehigh":"","@userfileformid":"0"},{"@id":"5164","@ordinal":"1","@name":"Pronouns","@alias":"C_OBIE_Pronouns1","@datatype":"List","@subtype":"PRONOUNS","@isrequired":"0","@defaul[...]
- request:
    method: post
    uri: https://providerapi.advancedmd.com/processrequest/api-136/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"insertcustomdata","@class":"providerdesktop","@patientid":5983957,"@templateid":"515","fieldvaluelist":{"fieldvalue":[{"@templatefieldid":"5159","@value":"Dav"},{"@templatefieldid":"5164","@value":1},{"@templatefieldid":"5160","@value":"Been
        through couple of theraphies in the past"},{"@templatefieldid":"5163","@value":2},{"@templatefieldid":"5168","@value":""}]}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"advancedmd-api-processrequest-6-64ddc79786-bgczc","@lst":"12/13/2024
        15:25:41","Results":{"patientlist":{"patient":{"@id":"5983957","@visitid":"9543367","@visitdos":"09/08/2021","templatelist":{"template":{"@id":"515","@restrictupdates":"0","instancelist":{"instance":{"@id":"23602","@createdby":"LS-API","@changedat":"","@changedby":"","fieldvaluelist":{"fieldvalue":[{"@id":"160123","@templatefieldid":"5159","@ordinal":"0","@value":"DAV","@valuecode":"","@valuename":"","@createdat":"2024-12-13T15:25:41.853","@createdby":"LS-API","@changedat":"","@changedby":""},{"@id":"160124","@templatefieldid":"5164","@ordinal":"1","@value":"1","@valuecode":"","@valuename":"SHE
        HER","@createdat":"2024-12-13T15:25:41.853","@createdby":"LS-API","@changedat":"","@changedby":""},{"@id":"160125","@templatefieldid":"5160","@ordinal":"2","@value":"BEEN
        THROUGH COUPLE OF THERAPHIES IN THE PAST","@valuecode":"","@valuename":"","@createdat":"2024-12-13T15:25:41.853","@createdby":"LS-API","@changedat":"","@changedby":""},{"@id":"160126","@templatefieldid":"5163","@ordinal":"3","@value":"2","@valuecode":"","@valuename":"COURT
        ORDERED TREATMENT","@createdat":"2024-12-13T15:25:41.853","@createdby":"LS-API","@changedat":"","@changedby":""},{"@id":"160127","@templatefieldid":"5168","@ordinal":"4","@value":"","@valuecode":"","@valuename":"","@createdat":"2024-12-13T15:25:41.853","@createdby":"LS-API","@changedat":"","@changedby":""}]}}}}}}}}}}'
  recorded_at: Sat, 03 Jun 2023 14:45:00 GMT
[...]
