---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE82WDD","@lst":"11/8/2021
        2:42:53 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Mon, 08 Nov 2021 10:42:53 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarsource","@class":"api","@exactmatch":"0","@name":"SEARCH
        ENGINE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFERRGDX","@lst":"11/8/2021
        2:42:56 AM","Results":{"marsourcelist":{"marsource":{"@id":"source19","@name":"SEARCH
        ENGINE"}}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:42:56 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarstatus","@class":"api","@exactmatch":"0","@name":"1-SCHEDULED
        CONSULT"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEIEPSA","@lst":"11/8/2021
        2:42:57 AM","Results":{"marstatuslist":{"marstatus":{"@id":"stat21","@name":"1-SCHEDULED
        CONSULT"}}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:42:57 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/api/api-101/LIFESTANCE/referral/MarketingReferrals
    body:
      encoding: UTF-8
      string: '{"patientid":5983942,"sourceid":19,"statusid":21}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 995456IJGnDKYaJ2ecdVy4xK8rHxGU06sDGNIaXjJYKAZO8d0fCQCz+kdNlbIlo4duFcPJqm+NdfYFZ5BjZHjB+7FWndrNoAyB0GLb7jrKvEfKsOfiVTrmpJD5A4rOBSrhOGoI9riMbd65SUKMrXqCx68QW4kOtmnsp4/gNAaThurM4NJIS3g0FZa/C6Kx5EM0b101p0eNnTwE0wU9bV/X7qVCfg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 11/08/2021 02:42:58
      Permission-Granted:
      - REFERRALS
    body:
      encoding: ASCII-8BIT
      string: '{"id":471,"statusid":21,"statusname":"1-SCHEDULED CONSULT","sourceid":19,"sourcename":"SEARCH
        ENGINE","description":"","createdby":"LS-API","createdat":"2021-11-08T02:42:59.703","changedby":"","changedat":null,"notes":[]}'
  recorded_at: Mon, 08 Nov 2021 10:43:00 GMT
recorded_with: VCR 6.0.0
