---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEYWZQN","@lst":"11/8/2021
        2:50:02 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Mon, 08 Nov 2021 10:50:02 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookuppatient","@class":"api","@exactmatch":"-1","@name":"Wilson,test","@page":"1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEXR0IK","@lst":"11/8/2021
        2:50:05 AM","Results":{"patientlist":{"@itemcount":"0","@page":"1","@pagecount":"0","@itemsfrom":"0","@itemsto":"0"}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:50:05 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarsource","@class":"api","@exactmatch":"0","@name":"SEARCH
        ENGINE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEXR0IK","@lst":"11/8/2021
        2:50:06 AM","Results":{"marsourcelist":{"marsource":{"@id":"source19","@name":"SEARCH
        ENGINE"}}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:50:07 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarstatus","@class":"api","@exactmatch":"0","@name":"1-SCHEDULED
        CONSULT"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE5PVCG","@lst":"11/8/2021
        2:50:08 AM","Results":{"marstatuslist":{"marstatus":{"@id":"stat21","@name":"1-SCHEDULED
        CONSULT"}}},"Error":null}}'
  recorded_at: Mon, 08 Nov 2021 10:50:08 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/api/api-101/LIFESTANCE/referral/MarketingReferrals
    body:
      encoding: UTF-8
      string: '{"patientid":5983942,"sourceid":19,"statusid":21}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 995456NoxmwP0H6I/AS79AzlilxCmGRQqiZEymx8fCkmtEAMb8fU/Y3BLBGwnx/bsq1Ln0Ty3sdKvGcZCO+gHMEjn982hfpDfMTU8Xi+OvtcSJzrhYDOMHfrq9me+BWSQ3nC+3NDmY7oVCknYMJaKaDDkvlCLZsFCjwz7Er4zYErWOcPKDbfd7EGKmXDzq9AWYyDhI8KswBH7fR+Qq2aiy+s7xVA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 11/08/2021 02:50:10
      Permission-Granted:
      - REFERRALS
    body:
      encoding: ASCII-8BIT
      string: '{"id":473,"statusid":21,"statusname":"1-SCHEDULED CONSULT","sourceid":19,"sourcename":"SEARCH
        ENGINE","description":"","createdby":"LS-API","createdat":"2021-11-08T02:50:11.2","changedby":"","changedat":null,"notes":[]}'
  recorded_at: Mon, 08 Nov 2021 10:50:11 GMT
[...]
- request:
    method: post
    uri: https://sessions.bugsnag.com/
    body:
      encoding: UTF-8
      string: '{"notifier":{"name":"Ruby Bugsnag Notifier","url":"https://www.bugsnag.com","version":"6.21.0"},"device":{"hostname":"ggku5dell1565","runtimeVersions":{"ruby":"3.0.1","rails":"6.1.3.1","rack":"2.2.3"}},"app":{"version":null,"releaseStage":"test","type":"rails"},"sessionCounts":[{"startedAt":"2021-11-08T10:49:00","sessionsStarted":116},{"startedAt":"2021-11-08T10:50:00","sessionsStarted":44}]}'
    headers:
      Bugsnag-Api-Key:
      - 7858210f66e93cdf869c99ecfcc0a7f2
      Bugsnag-Payload-Version:
      - '1.0'
      Content-Type:
      - application/json
      Bugsnag-Sent-At:
      - '2021-11-08T10:50:13.896Z'
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Bugsnag-Session-Uuid:
      - fb437798-e243-448d-b1fe-bf9fb0f38aa7
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"accepted"}'
  recorded_at: Mon, 08 Nov 2021 10:50:14 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/api/api-101/LIFESTANCE/referral/MarketingReferrals
    body:
      encoding: UTF-8
      string: '{"patientid":5983942,"sourceid":19,"statusid":21}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 995456NoxmwP0H6I/AS79AzlilxCmGRQqiZEymx8fCkmtEAMb8fU/Y3BLBGwnx/bsq1Ln0Ty3sdKvGcZCO+gHMEjn982hfpDfMTU8Xi+OvtcSJzrhYDOMHfrq9me+BWSQ3nC+3NDmY7oVCknYMJaKaDDkvlCLZsFCjwz7Er4zYErWOcPKDbfd7EGKmXDzq9AWYyDhI8KswBH7fR+Qq2aiy+s7xVA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 11/08/2021 02:50:15
      Permission-Granted:
      - REFERRALS
    body:
      encoding: ASCII-8BIT
      string: '{"id":474,"statusid":21,"statusname":"1-SCHEDULED CONSULT","sourceid":19,"sourcename":"SEARCH
        ENGINE","description":"","createdby":"LS-API","createdat":"2021-11-08T02:50:15.423","changedby":"","changedat":null,"notes":[]}'
  recorded_at: Mon, 08 Nov 2021 10:50:15 GMT
recorded_with: VCR 6.0.0
