---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"saveaccount","@class":"api","@msgtime":"11/8/2021
        09:25:20 AM","@nocookie":0,"patientportalaccount":{"@emailaddress":"blackbeardctest@email.com","@fullname":"blackbeard,
        captain","@comment":"","@disable":"0","@display":"1"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE5PVCG","@lst":"11/8/2021
        1:25:21 AM","Results":null,"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"50000","description":"The e-mail address blackbeardctest@email.com
        is already in use for another portal account.","class":"patientportal","method":"saveaccount","linenum":"122","source":"AdvancedMD.Portal","extrainfo":null}}}}}'
  recorded_at: Mon, 08 Nov 2021 09:25:27 GMT
recorded_with: VCR 6.0.0
