---
http_interactions:
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"saveaccount","@class":"api","@msgtime":"11/8/2021
        09:16:00 AM","@nocookie":0,"patientportalaccount":{"@emailaddress":"blackbeardctest@email.com","@fullname":"blackbeard,
        captain","@comment":"","@disable":"0","@display":"1"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFE82WDD","@lst":"11/8/2021
        1:16:02 AM","Results":{"patientportalaccount":{"@id":"6575","@emailaddress":"blackbeardctest@email.com","@fullname":"blackbeard,captain","@display":"1","@comment":"","@disable":"0","@invitationstatus":"notsent","@invitationdate":"","@enrollmentstatus":"notenrolled","@lastlogindate":"","authorizedpatientlist":null}}}}'
  recorded_at: Mon, 08 Nov 2021 09:16:09 GMT
recorded_with: VCR 6.0.0
