---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEOTNUX","@lst":"2/23/2022
        4:12:30 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE","@reportingServerURL":"https://reportingservices-100.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 995456
        must be redirected to https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Wed, 23 Feb 2022 12:12:30 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"lifestance2021!","@officecode":995456,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarsource","@class":"api","@exactmatch":"0","@name":"SEARCH
        ENGINE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEOTNUX","@lst":"2/23/2022
        4:12:32 AM","Results":{"marsourcelist":{"marsource":{"@id":"source19","@name":"SEARCH
        ENGINE"}}},"Error":null}}'
  recorded_at: Wed, 23 Feb 2022 12:12:32 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-101/LIFESTANCE/xmlrpc/processrequest.aspx/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"lookupmarstatus","@class":"api","@exactmatch":"0","@name":"1-SCHEDULED
        CONSULT"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI3WFEHMKML","@lst":"2/23/2022
        4:12:34 AM","Results":{"marstatuslist":{"marstatus":{"@id":"stat21","@name":"1-SCHEDULED
        CONSULT"}}},"Error":null}}'
  recorded_at: Wed, 23 Feb 2022 12:12:34 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/api/api-101/LIFESTANCE/referral/MarketingReferrals
    body:
      encoding: UTF-8
      string: '{"patientid":5983957,"sourceid":19,"statusid":21}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 995456V8zBHwMfeHkblRy7hXCvbQ4jF4bNRVr/ZRrQmMVPmdF1fPlPn3+KpOQeD7eepjpQ4ifj9seU2aRO4sLi2u00s7TvazHhzLhx+kqFxlxSFhc6BJIdLH1A0EBhGP3CKEPUHQnjcZunVftzSGqU6xY68M96bblMZnosAqY4c+EL/g8px6PcGf0iPiOJVBcPiBfyy3s7/IGcXFw1xV0cI3v17A==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - 02/23/2022 04:12:35
      Permission-Granted:
      - REFERRALS
    body:
      encoding: ASCII-8BIT
      string: '{"id":523,"statusid":21,"statusname":"1-SCHEDULED CONSULT","sourceid":19,"sourcename":"SEARCH
        ENGINE","description":"","createdby":"LS-API","createdat":"2022-02-23T04:12:35.263","changedby":"","changedat":null,"notes":[]}'
  recorded_at: Wed, 23 Feb 2022 12:12:35 GMT
recorded_with: VCR 6.0.0
