---
http_interactions:
- request:
    method: post
    uri: https://partnerlogin.advancedmd.com/practicemanager/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"Digital21!","@officecode":998094,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"?xml":{"@version":"1.0","@encoding":"ISO-8859-1"},"PPMDResults":{"@s":"PRDAPI2WFEVTWZG","@lst":"9/8/2021
        3:25:13 AM","Results":{"@success":"0","usercontext":{"@webserver":"https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE","@reportingServerURL":"https://reportingservices-101.advancedmd.com/rs/reportrequest.aspx","@helpurl":"https://ow2-help-01-prd.advancedmd.com/help/","@username":"LS-API"}},"Error":{"Fault":{"faultcode":"Client","faultstring":"Client
        Error","detail":{"code":"-2147220476","description":"The Office Key 998094
        must be redirected to https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE.
        When logging in to AdvancedMD, if no security token (<usercontext> text) is
        returned, then you must redirect your login to the server indicated in the
        \"webserver\" attribute of the usercontext element.","class":"AdvancedMD.Security.Login","method":"LoginUser","linenum":"0","source":"AdvancedMD.Security.Login","extrainfo":null}}}}}'
  recorded_at: Wed, 08 Sep 2021 10:25:13 GMT
- request:
    method: post
    uri: https://provapi.advancedmd.com/processrequest/api-102/LIFESTANCE/xmlrpc/processrequest.aspx
    body:
      encoding: UTF-8
      string: '{"ppmdmsg":{"@action":"login","@class":"login","@username":"LS-API","@psw":"Digital21!","@officecode":998094,"@appname":"LIFESTANCE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8[...]
- request:
    method: post
    uri: https://provapi.advancedmd.com/ehr-api/files/documents
    body:
      encoding: UTF-8
      string: "[]"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 998094E7ITCYBgpQERV+TmOQORdmXX7wOkVwLhw/K0zRQmqyScrPUuknOujs+pwXX5ja+UjtnhEKhwYhWliieOc2eqk/u+HHbFNyO9AY0pSdH6tt5lKeKhZYFyTVwkiIdcACaWT2cCjoZbODx6bD95voHJV/82m65iEaOMTqDHK+TlKgn3PJje07wGaGCoimk2adkp
      Appname:
      - LIFESTANCE
  response:
    status:
      code: 207
      message: Multi-Status
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Amds-Lst:
      - '09/08/2021 03:25:29'
      Permission-Granted:
      - Documents
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Wed, 08 Sep 2021 10:25:29 GMT
recorded_with: VCR 6.0.0
